.search-form{
  padding-top: 50px;
}
.img{
  border-radius:50%;
  height:400px;
}
/* body{
  padding: 0;
  margin: 0;
  background:#e84118 ;
} */
#search-box{
  position: absolute;
  left: 50%;
  top: 10%;
  background: #2f3640;
  border-radius: 40px;
  height: 40px;
  padding: 10px;
  transform: translate(-50%,-50%);
}
#search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
#search-box:hover > .search-btn{
  background: white;
}
.search-txt{
  border:none ;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
#search-box > .search-btn{
background: #2f3640;
}
.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  background: #2f3640;
  display: flex;
  align-items: center;
  justify-content: center;
}


h2{
  font-size: 50px;
  font-weight:bold;
  text-align:center;
  padding:70px;
  text-shadow: 4px 4px white; 
}

.label{
  font-weight: bolder;
  padding:18px;
  font-size: 16px;
  color:black;
  font-family:arial;
}